.Rproj.user
.Rhistory
.RData
.Ruserdata
BMIN503_Final_Project.Rproj
/data
code/.DS_Store
.DS_Store
/final_project_template_files
/presentation/tinytable_assets
/presentation/presentation_cache
/presentation/presentation_files
/presentation/template_files
/report/.quarto
/presentation/img
/presentation/bmin_final_slides_benson_files
/presentation/bmin_final_slides_benson_cache
/presentation/_extensions
/presentation/images
*.html
/bmin_final_slides_benson_files
/report/bmin_report_benson_files
/test/test_cache
/test
